.enumerate {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enumerate .enumerateTitle {
    /* font-family: cursive; */
    font-size: 60;
}

.enumerateList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

/* enumerate ITEM STYLING */

.tileItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.tileItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.tileItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlayIcon {
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
}

.addNew {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addNew a {
    text-decoration: none;
    padding: .5rem 3rem;
    border-radius: 0.5rem;
    background-color: #07090a;
    color: white;
    font-weight: bold;
    margin: 0, 3rem;
}

.tileItem h1,
.tileItem p {
    margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
    .enumerateList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .enumerateList {
        grid-template-columns: 1fr;
    }
}